<h3><%= @artist.name %></h3>

<% if ['admin', 'editor'].include? current_user.profile.role %>
  <%= link_to fa_icon('edit 2x'), edit_song_path(@song) %> | 
  <%= link_to fa_icon('trash 2x'), song_path(@song),  method: :delete, data: {confirm: '삭제하시겠습니까?' } %>
<% end %>
<hr />
<%= image_tag @artist.image.url, class: "image_center" if @artist.image? %>

<ul>
  <% @artist.songs.each do |song| %>
    <li>
      <%= image_tag song.cover.thumb.url if song.cover %>
      <%= link_to song.title, song_path(song) %>
    </li>  
  <% end %>
</ul>
