<h3><%= @artist.name %></h3>

<%if !@artist.followed_by?(current_user) %>
  <%= link_to 'Follow', artist_follow_path(@artist), method: :post %> 
<% else %>
  <%= link_to 'Unfollow', artist_follow_path(@artist), method: :post %>
<% end %>

<% if user_editable? %>
  <%= link_to fa_icon('edit 2x'), edit_artist_path(@artist) %> | 
  <%= link_to fa_icon('trash 2x'), artist_path(@artist),  method: :delete, data: {confirm: '삭제하시겠습니까?' } %>
<% end %>
<hr />
<%= image_tag @artist.image.url, class: "image_center" if @artist.image? %>

<ul>
  <% @artist.songs.each do |song| %>
    <li>
      <%= image_tag song.cover.thumb.url if song.cover %>
      <%= link_to song.title, song_path(song) %>
    </li>  
  <% end %>
</ul>

<%= render 'comments/form', commentable: @artist %>
<%= render 'comments/index', commentable: @artist %>