<h3><%= @article.title %></h3>

<strong><%= @article.user.profile.name %></strong>
<div>
    <% if @article.user == current_user%>
        <%= link_to fa_icon('edit 2x'), edit_article_path(@article) %> | 
        <%= link_to fa_icon('trash 2x'), article_path(@article),  method: :delete, data: {confirm: '삭제하시겠습니까?' } %>
    <% end %>
</div>
<hr />
<p><%= @article.content.html_safe %></p>